<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="your.package.name"> <!-- نام پکیج شما -->

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application>
        <service
            android:name=".StopwatchService"
            android:enabled="true"
            android:exported="false" />
    </application>
</manifest>
